<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="appDataProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <appDataProcess.Properties.Settings>
            <setting name="appDataProcess_net_onlinee8_app_E8WXService" serializeAs="String">
                <value>http://app.onlinee8.net/e8weixin/E8WXService.asmx</value>
            </setting>
        </appDataProcess.Properties.Settings>
    </applicationSettings>
</configuration>